<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Task</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/createTask.css">
    <link rel="stylesheet" href="/css/alerts.css">
    <link rel="stylesheet" href="/css/profile.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

</head>

<body>
    <%- include ('partials/header2')%>


        <br>
        <!-- <div id="createTaskContainer">
      <button id="createTask">Click Here to create a New Task</button>
      <div id="hr"></div>
    </div>  -->



        <!-- The Modal -->
        <!-- <div id="myModal" class="modal"> -->

        <!-- Modal content -->
        <!-- <div class="modal-content">
        <span class="close">&times;</span>
        <form action="">
          <input type="text" placeholder="Create a new Task"><br>
          <button id="addTask">Add Task</button>
        </form>
      </div> -->

        <!-- </div> -->

        <section class="main">
            <div class="box">
                <div class="left">
                    <div class="left-top">
                        <div class="profile-img">
                            <img src="/users/<%= user.id%>/avatar"
                                onerror="this.onerror=null;this.src='../images/User.png';" id="profile-img-tag">

                        </div>
                        <div class=img-buttons>
                            <button onclick="deleteImg()" id="delete-img">Delete</button>

                            <form action="/users/me/avatar" method="post" enctype="multipart/form-data" id="image-form">
                                <label for="image" id="label-img">Edit</label>
                                <input type="file" id="image" name="image" style="display:none">
                            </form>
                        </div>
                    </div>
                    <div class="left-bottom">
                        <div class="stats">
                            <h4>Your Tasks</h4>
                            <div class="stat-row">
                                <div class="stat-type">Total</div>
                                <div class="stat-value">2</div>
                            </div>
                            <div class="stat-row">
                                <div class="stat-type">Not started</div>
                                <div class="stat-value">2</div>
                            </div>
                            <div class="stat-row">
                                <div class="stat-type">In progress</div>
                                <div class="stat-value">2</div>
                            </div>
                            <div class="stat-row">
                                <div class="stat-type">Completed</div>
                                <div class="stat-value">2</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <div class="full-details">

                        <form action="/users/me" id="form-profile">
                            <div class="form-input">
                                <label for="name" class="form-label">Full Name</label>
                                <input type="text" id="name" class="input-tags" value="<%= user.name %>">
                            </div>

                            <div class="form-input">
                                <label for="email" class="form-label">Email Id</label>
                                <input type="email" id="email" class="input-tags" value="<%= user.email %>">
                            </div>

                            <div class="form-input">
                                <label for="age" class="form-label">Age</label>
                                <input type="number" id="age" class="input-tags" value="<%= user.age %>">
                            </div>

                        </form>
                        <div class="form-input submit-div">
                            <button type="submit" id="submit" class="form-btn">Save</button>
                            <button type="submit" id="reset" class="form-btn">Reset</button>
                        </div>
                        <div class="info">
                            ** You can Update the profile by clicking on the field you want to update **
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <script>

            $("#submit").on("click", function () {
                var formData = {
                    name: $("#name").val(),
                    email: $("#email").val(),
                    password: $("#password").val(),
                    age: $("#age").val(),
                };
                console.log(formData);
                $.ajax({
                    type: "PATCH",
                    url: "/users/me",
                    data: formData,
                });
                window.location.reload();
            });

            $("#reset").on("click", () => {
                window.location.reload();
            })

            function deleteImg() {

                $.ajax({
                    type: "DELETE",
                    url: "/users/me/avatar",
                });
                window.location.href = "/users/me";

            };
            document.getElementById("image").onchange = function () {
                document.getElementById("image-form").submit();
            };


        </script>



        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
        <!-- <script src="/js/tasks.js"></script> -->
        <script src="/js/alerts.js"></script>
        <script src="/js/profile.js"></script>
        <!-- <script type="text/javascript">
            window.history.forward();
            function noBack() {
                window.history.forward();
            }
        </script> -->

</body>

</html>