<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Tasks</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/createTask.css">
  <link rel="stylesheet" href="/css/alerts.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>

</head>

<body>
  <%- include ('partials/header2')%>


    <br>
    <% if(success_message.length> 0 ){ %>
      <div class="alert alert-success position-absolute" style="top: 0; right: 0; z-index: 2;" role="alert">
        <%= success_message %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"
            onclick="this.parentNode.style.display = 'none';">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <% } %>
        <button type="button" class="btn btn-danger btn-floating btn-lg" id="btn-back-to-top">
          <i class="fas fa-arrow-up"></i>
        </button>
        <div class="welcomeMsg">
          <h3>Hello, welcome <%= user.name %>
          </h3>
          <div class="top-buttons">
            <div class="create_btn_cont">
              <button id="create_btn" onclick="showModal2();populateModal2();">Create New Task</button>
            </div>
            <div class="filters">
              <div class="filter-status">
                <div class="dropdown">
                  <button class="dropbtn">Status : <span id="status-value"></span><i
                      class="fa-solid fa-caret-down"></i></button>
                  <div class="dropdown-content">
                    <a href="/users/tasks">All</a>
                    <a href="/users/tasks?status=Completed">Completed</a>
                    <a href="/users/tasks?status=Not%20Started">Not Started</a>
                    <a href="/users/tasks?status=In%20Progress">In Progress</a>
                  </div>
                </div>
              </div>
              <div class="searchBar">
                <input type="search" placeholder="Search Tasks" aria-label="Search" id="searchBox"><i
                  class="fa-solid fa-magnifying-glass"></i>
              </div>
            </div>
          </div>
        </div>

        <% if(tasks.length==0) {%>
          <div class="no-task">
            <h4> No tasks coming up! Take a break &#128564;</h4>
          </div>
          <%}%>


            <div id="myModal2" class="modal">

              <!-- Modal content -->
              <div class="modal-content">
                <h3>Create Task</h3>
                <span class="close2" onclick="closeModal()">&times;</span>
                <div class="content">
                  <div class="left">
                    <div class="input-div">
                      <label for="title_new">Title*</label>
                      <input type="text" id="title_new" name="title_new" placeholder="Enter Title here" maxlength="18"
                        required>
                    </div>
                    <div class="input-div">
                      <label for="status_new">Status</label>
                      <select name="status_new" id="status_new">
                        <option value="Not Started">Not Started</option>
                        <option value="In Progress">In Progress</option>
                        <option value="Completed">Completed</option>
                      </select>
                    </div>
                    <div class="input-div">
                      <label for="percent_new">Progress (%)</label>
                      <input type="range" id="percent_new" name="percent_new" max="100" min="0"
                        oninput="percent_num_new.value = percent_new.value">
                      <input type="number" readonly id="percent_num_new" name="percent_num_new">
                    </div>
                  </div>
                  <div class="right">
                    <div class="input-div">
                      <label for="desc_new">Description*</label>
                      <textarea type="text" id="desc_new" name="desc_new" placeholder="Enter Description here"
                        required></textarea>
                    </div>
                    <div class="input-div">
                      <label for="due_new">Due Date</label>
                      <input type="date" id="due_new" name="due_new">
                    </div>
                  </div>
                </div>
                <div class="btn_cont">
                  <button id="create_btn_new" class="btn">Create Task</button>
                </div>
              </div>

            </div>


            <div class="wrapper">
              <div class="cards-container">
                <% var i=0%>
                  <% tasks.forEach(function(task) { %>

                    <div class="card-wrapper">


                      <div class="card">
                        <div class="card-head">

                          <div class="title" id="title_<%= i %>">
                            <%= task.title%>
                          </div>
                          <div class="options">

                            <button onclick="deleteTask('<%= task.id%>');" class="delete_btn"><i
                                class="fa fa-trash"></i><span class="delete_text">Delete</span></button>

                          </div>
                        </div>

                        <hr>
                        <div class="card-mid">
                          <div class="description">
                            <span><b>Description : </b></span>
                            <span class="description_text" id="desc_<%= i %>">
                              <%- task.description %>
                            </span>

                          </div>
                          <span class="read_more" id="read_more_<%= i %>"
                            onclick="showModal3();full_desc('<%= i %>','<%= task.id %>');">Read full
                            description</span>
                          <%= console.log(i + task.description)%>
                            <div class=" status">
                              <span><b>Status : </b></span>
                              <span id="status_<%= i %>">
                                <%= task.status%>
                              </span>

                            </div>
                            <div class="progress_percent">
                              <div class="progress-bar">
                                <span class="blue-bar" id="bar_<%= i %>">
                                  <script>
                                    $("#bar_<%= i %>").css("width", "<%= task.progress%>%")
                                  </script>
                                </span>
                              </div>
                              <span id="percent_<%= i %>">
                                <%= task.progress%>
                              </span>% &nbsp; done.


                            </div>
                        </div>
                        <hr>

                        <div class="card-bottom">
                          <div class="createdDate">
                            <div class="key"><b>Date Created</b></div>
                            <div class="value">
                              <%= task.createdDate%>
                            </div>
                          </div>
                          <div class="dueDate">
                            <div class="key"><b>Due Date</b></div>
                            <div class="value" id="due_<%= i %>">
                              <%= task.dueDate%>
                            </div>

                          </div>
                        </div>

                      </div>
                      <div class="edit_button_div">
                        <button onclick="showModal();populateModal('<%= i %>','<%= task.id%>');" class="edit_btn"
                          style="width:100%;border-radius:0 0 10px 10px;border: none;color:white;font-size:20px;background-color:#28A745;z-index: 1;padding: 7px;box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);">
                          Edit Task <i class="fa fa-edit"></i>
                        </button>
                      </div>
                    </div>
                    <% i++ %>
                      <% }) %>

              </div>

            </div>

            <div id="myModal" class="modal">

              <!-- Modal content -->
              <div class="modal-content">
                <h3>Edit Task</h3>
                <span class="close2" onclick="closeModal()">&times;</span>
                <div class="content">
                  <div class="left">
                    <div class="input-div">
                      <label for="title">Title*</label>
                      <input type="text" id="title" name="title" maxlength="20" required>
                    </div>
                    <div class="input-div">
                      <label for="status">Status</label>
                      <select name="status" id="status">
                        <option value="Not Started">Not Started</option>
                        <option value="In Progress">In Progress</option>
                        <option value="Completed">Completed</option>
                      </select>
                    </div>
                    <div class="input-div">
                      <label for="percent">Progress (%)</label>
                      <input type="range" id="percent" name="percent" max="100" min="0"
                        oninput="percent_num.value = percent.value">
                      <input type="number" readonly id="percent_num" name="percent_num">
                    </div>
                  </div>
                  <div class="right">
                    <div class="input-div">
                      <label for="desc">Description*</label>
                      <textarea type="text" id="desc" name="desc" required rows="4"></textarea>
                    </div>
                    <div class="input-div">
                      <label for="due">Due Date</label>
                      <input type="date" id="due" name="due">
                    </div>
                  </div>
                </div>
                <div class="btn_cont">
                  <button id="edit_btn" class="btn">Update Task</button>
                </div>
              </div>

            </div>


            <div id="myModal3" class="modal">

              <!-- Modal content -->
              <div class="modal-content">
                <h3 id="task_desc_id">Task Description</h3>
                <span class="close2" onclick="closeModal()">&times;</span>
                <div class="content">
                  <p id="full_desc"></p>
                </div>
              </div>

            </div>


            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
              integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
              crossorigin="anonymous"></script>
            <!-- <script src="/js/tasks.js"></script> -->
            <script src="/js/alerts.js"></script>
            <script src="/js/createTask.js"></script>
            <!-- <script type="text/javascript">
          window.history.forward();
          function noBack() {
            window.history.forward();
          }
        </script> -->

</body>

</html>